{% extends 'IBWWebsiteBundle:Stairs:layout.html.twig' %}
{% block javascripts %}
    <script src="http://www.google.com/jsapi"></script>
    <script>
        var map;
        var marker;
        // Load the map scripts
        google.load('maps', '3', {other_params:'sensor=true'});
        // Function to create a map and check for geolocation
        function initialize() 
        {
            // Set the options to be used when creating the map
            {% if activity.lat != null %}
                var MyPos = new google.maps.LatLng({{activity.lat}}, {{activity.lng}});
            {% else %}
                var lat = 0;
                var long = 0;
                var MyPos = new google.maps.LatLng(lat, long);
                if(navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition( function (position) {
                        lat = position.coords.latitude;
                        long = position.coords.longitude;
                        $('#ibw_websitebundle_stairsactivitytype_lat').val(lat);
                        $('#ibw_websitebundle_stairsactivitytype_lng').val(long);
                        MyPos = new google.maps.LatLng(lat, long);
                        map.setCenter(MyPos);
                        marker.setPosition(MyPos);
                    });
                } 
                else {
                    alert('The browser does not support geolocation');
                    $('#map_canvas').gMap();
                }
            {% endif %}
            var myOptions = {
                    zoom: 10 ,
                    center: MyPos,
                    mapTypeId: google.maps.MapTypeId.HYBRID,
                    streetViewControl: false,
                    mapTypeControl: false
                };
            // Create the new
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            marker = new google.maps.Marker({
                position: MyPos,
                title:"You were Here"    
                });   
            marker.setDraggable (true);    
            marker.setMap(map);   
            google.maps.event.addListener(marker, 'dragend', function(event) {
                var location = marker.getPosition();
                map.panTo(location);
                lat = location.lat();
                long = location.lng();
                $('#ibw_websitebundle_stairsactivitytype_lat').val(lat);
                $('#ibw_websitebundle_stairsactivitytype_lng').val(long);
            });
        }
    </script>
{% endblock %}
{% block title %}Activity Page{% endblock %} 
{% block onload %}
    <body onload="initialize();">  
{% endblock %}    
{% block body %}
    <div class="pagination-centered well">    
        <table class="table table-striped table-hover table-condensed well w50c">
            <thead> 
                <tr>
                    <th>ID</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>                
                    <td> {{ activity.id }}</td>
                    <td> {{ activity.amount }}</td>
                    <td> {{ activity.createdAt.format('Y-m-d H:i:s') }}</td>
                </tr>
            </tbody>
        </table>
        <form class="pagination-centered" action="{{ path('ibw_website_activity_delete', {'id': activity.id}) }}" method="POST">
            <button class="btn btn-warning" type="submit">Delete</button>
        </form>
    </div>
    <div class="well center" >
        <form class="pagination-centered" action="{{ path('ibw_website_activity_edit', {'id': activity.id}) }}" method="POST">
            <div class="error_field">
                {{ form_errors(add_form) }} 
            </div>
            <div class="pagination-centered">
                {{ form_label(add_form.amount) }}
                {{ form_widget(add_form.amount) }}
                <div class="error_field">
                    {{ form_errors(add_form.amount) }} 
                </div>    
            </div>
            <div>
                {{ form_label(add_form.lat) }}
                {{ form_widget(add_form.lat) }}
                <div class="error_field">
                    {{ form_errors(add_form.lat) }} 
                </div>
            </div>
            <div>
                {{ form_label(add_form.lng) }}
                {{ form_widget(add_form.lng) }}
                <div class="error_field">
                    {{ form_errors(add_form.lng) }} 
                </div>
            </div>
            {{ form_rest(add_form) }}
            <button class="btn btn-success" type="submit">Update</button>
        </form>
        <div class="pagination-centered w50c" id="map_canvas" style="border: 1px; width:60%; height:400px">
        </div>
    </div>
{% endblock %}